.top {
  margin-bottom: 40px;
  .buttons {
    display: flex;
    justify-content: end;
    gap: 10px;

    .button {
      color: white;
      background-color: dodgerblue;
      border: none;
      padding: 12px 28px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      border-radius: 8px;
      cursor: pointer;
      opacity: 1;
      transition: all 0.3s ease-in-out;
      &:hover {
        background-color: #2a52be;
      }
      &:active {
        transform: scale(0.98);
      }
    }
  }
}
