body {
  margin: 0;
  font-family: 'Poppins', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

ul,
ol {
  text-align: start;
  list-style: none;
  margin: 0;
  padding: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

table {
  margin: 5rem auto;
  border-radius: 2rem;
  border: 1rem hidden #443c68;
  border-collapse: collapse;
  box-shadow: 0 0 0 1px black;
  overflow: hidden;
  max-width: 80rem;
}

td {
  font-size: 1.6rem;
  line-height: 1.6;
}

thead {
  font-size: 1.1rem;
  background-color: #443c68;
  color: #fff;
}

th,
td {
  border: 1px solid #443c68;
  min-width: 100%;
  padding: 1rem;
  line-height: 1.5;
}

td {
  font-size: 1rem;
}
